.mode-button {
    border: 1px solid var(--mud-palette-table-lines);
    height: 90px;
}

.oval {
    width: 25px;
    height: 15px;
    border-radius: 50%;
    transform: rotate(120deg);
}

.oval-selected {
    transform: rotate(0deg);
}

.color-button {
    height: 50px;
    border: 1px solid var(--mud-palette-table-lines);
}

.color-button-selected {
    border: 2px solid var(--mud-palette-primary);
}
